body {
    font-family: 'Roboto Slab', serif;
    background-color: steelblue;
    max-width: 960px;
    margin: auto;
    width: 90%;
}

.topnav {
    background-color: black;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @media (max-width: 380px) {
      .topnav {
        padding-top: 0px;
        padding-bottom: 0px;
  }
}

  .topnav a {
    color: #f2f2f2;
    /* text-align: center; */
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  @media (max-width: 380px) {
    .topnav a { float:left;}
  }

  .topnav a:hover {
    color: steelblue
  }

  .topnav a.active {
    color:steelblue;
    background-color: white;
  }

  @media screen and (max-width: 600px) {
    .topnav a:not(:active) {display: none}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      /* text-align: center; */
    }
  }
  
  .topnav .icon {
    display: none;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
  }

  .all img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%; 
  }

  .book1 img {
      /* padding-top: 50px; */
      width: 50%
      
  }

  .book1 .portrait{
    
    float: right;
    padding-top: 0;
    margin: 0rem 0rem 0rem 1rem;
    margin-bottom: 7px;
    text-align: right;
  }

  .portrait
{
    float: left;
    margin: 0rem 0rem 0rem 2rem;
}

.book1 {
    padding-top: 0px;
    padding-bottom: 30px;
    color: white;
}

.book2 img {
  /* padding-top: 50px; */
  width: 100%
}

.book2 .portrait {
margin: 0rem 0rem 0rem 0rem;
margin-bottom: 15px;
text-align: right;
}

.book2 {
padding-bottom: 30px;
color: white;
}

.book3 img {
  /* padding-top: 50px; */
  width: 50%
  
}

.book3 .portrait{

float: left;
padding-top: 0;
margin: 0rem 1rem 0rem 0rem;
margin-bottom: 7px;
text-align: right;
}

.portrait
{
float: left;
margin: 0rem 0rem 0rem 2rem;
}

.book3 {
padding-bottom: 10px;
color: white;
}

.book4 img {
  /* padding-top: 50px; */
  width: 50%
  
}

.book4 .portrait{

float: left;
padding-top: 0;
margin: 0rem 1rem 0rem 0rem;
margin-bottom: 7px;
text-align: right;
}

.portrait
{
float: left;
margin: 0rem 0rem 0rem 2rem;
}

.book4 {
  padding-top: 0px;
padding-bottom: 10px;
color: white;
}

.book5 img {
  /* padding-top: 50px; */
  width: 50%
  
}

.book5 .portrait{

float: right;
padding-top: 0;
margin: 0rem 0rem 0rem 1rem;
margin-bottom: 7px;
text-align: right;
}

.portrait
{
float: left;
margin: 0rem 0rem 0rem 2rem;
}

.book5 {
padding-top: 25px;
padding-bottom: 30px;
color: white;
}

.book6 img {
  /* padding-top: 50px; */
  width: 100%
}

@media (max-width: 800px) {
  .book1 img { width:100%;}
  .book2 img { width:100%;}
  .book3 img { width:100%;}
  .book4 img { width:100%;}
  .book5 img { width:100%;}
  .book6 img { width:100%;}
  .book7 img { width:100%;}
}

.book6 .portrait {
margin: 0rem 0rem 0rem 0rem;
margin-bottom: 15px;
text-align: right;
}

.book6 {
padding-bottom: 30px;
color: white;
padding-top: 0px;
}

.book7 img {
  /* padding-top: 50px; */
  width: 100%
}

.book7 .portrait {
margin: 0rem 0rem 0rem 0rem;
margin-bottom: 15px;
text-align: right;
}

.book7 {
padding-bottom: 30px;
color: white;
}

@media (max-width: 380px) {
  h2 {
    font-size: 12.5pt;
    font-weight:bolder
  }
  p {
    font-size: small;
  }
}

/* p {
  color: white;
} */
footer.panel {
  background-color:steelblue;
  padding-top: 50px;
  padding-bottom: 25px;
  text-align: center;
}

.paragraph1 p {
  padding-top: 25px;
  padding-bottom: 25px;
  color: white;
}

.paragraph2 p {
  padding-top: 25px;
  color:white;
}

.sources {
  padding-top: 25px;
  text-align: center;
}

.button1 {
  text-decoration: none;
background-color: #f1a965;
color: white;
font-size: 20px;
padding: 15px 30px;
margin-bottom: 100px;
}

.button1:hover {
  background-color: #c7703d;
}

.button1:active {
  background-color: black;
  transform: translate(-50%, -20%) scale(0.7);
  padding: 15px 30px;
}

.button2 {
  text-decoration: none;
background-color: #cc2121;
color: white;
font-size: 20px;
padding: 15px 30px;
}

.button2:hover {
  background-color: #940000;
}

.button2:active {
  background-color: #000000;
  transform: translate(-50%, -20%) scale(0.7);
  padding: 15px 30px;
}

.button3 {
  text-decoration: none;
background-color: #d86e6e;
color: white;
font-size: 20px;
padding: 15px 30px;
}

.button3:hover {
  background-color: #e24b4b;
}

.button3:active {
  background-color: #000000;
  transform: translate(-50%, -20%) scale(0.7);
  padding: 15px 30px;
}

.button4 {
  text-decoration: none;
background-color: #39c56f;
color: white;
font-size: 20px;
padding: 15px 30px;
}

.button4:hover {
  background-color: #008634;
}

.button4:active {
  background-color: #000000;
  transform: translate(-50%, -20%) scale(0.7);
  padding: 15px 30px;
}

.button5 {
  text-decoration: none;
background-color: #0059ff;
color: white;
font-size: 20px;
padding: 15px 30px;
}

.button5:hover {
  background-color: #1100ad;
}

.button5:active {
  background-color: #000000;
  transform: translate(-50%, -20%) scale(0.7);
  padding: 15px 30px;
}

.button6 {
  text-decoration: none;
background-color: #008643;
color: white;
font-size: 20px;
padding: 15px 30px;
}

.button6:hover {
  background-color: #00743e;
}

.button6:active {
  background-color: #000000;
  transform: translate(-50%, -20%) scale(0.7);
  padding: 15px 30px;
}

.button7 {
  text-decoration: none;
background-color: #cc6300;
color: white;
font-size: 20px;
padding: 15px 30px;
margin-top: 100px;
}

.button7:hover {
  background-color: #c25110;
}

.button7:active {
  background-color: #000000;
  transform: translate(-50%, -20%) scale(0.7);
  padding: 15px 30px;
}

.h {
  padding-top: 25px;
  padding-bottom: 10px;
}

.b {
  padding-bottom: 10px;
}

.c {
  padding-bottom: 10px;
}

.d {
  padding-bottom: 10px;
}

.e {
  padding-bottom: 10px;
}

.f {
  padding-bottom: 10px;
}

@media (max-width: 640px) {
  .button1 {font-size: 12px;}
}

@media (max-width: 640px) {
  .button2 {font-size: 12px;}
}

@media (max-width: 640px) {
  .button3 {font-size: 12px;}
}

@media (max-width: 640px) {
  .button4 {font-size: 12px;}
}

@media (max-width: 640px) {
  .button5 {font-size: 12px;}
}

@media (max-width: 640px) {
  .button6 {font-size: 12px;}
}

@media (max-width: 640px) {
  .button7 {font-size: 12px;}
}

h1 {
  padding-top: 25px;
}